@import "tailwindcss";

#root {
  width: 70vw;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #aeafc6aa);
}
.logo.random:hover {
  filter: drop-shadow(0 0 2em #aeafc6aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 820px) {
  #root {
    width: 85vw
  }
}

@media screen and (max-width: 400px) {
  #root {
    width: 95vw;
  }
}