.title {
  color: var(--text);
  text-align: center;
}

.section {
  background: var(--bg);
  padding: 2rem;
  border-radius: var(--radius);
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  margin: 0.4rem auto 2rem;
  max-width: 900px;
  border: 1px solid var(--divider);
}

button {
  color: var(--text);
  background: var(--surface);
  padding: 8px 16px;
  margin-right: 0;
  margin-bottom: 0;
  border-radius: 10px;
  border: 1px solid var(--divider);
  cursor: pointer;
}

button:hover {
  color: var(--surface);
}

button:active {
  color: #e84b3d;
}

.skillsButton {
  background: none;
  /* color: #2e2e2e; */
  border-radius: 0%;
  margin: 0px;
  padding: 0px;
}


a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: var(--text-sec);
}
a:active {
  color: var(--acc);
}

ul {
  padding: 0;
  margin: 0;
}

.descriptionListInner, .skillsListInner {
  display: inline-flex;
  /* width: fit-content; also makes the background wrap content only */
  align-items: center;
  justify-content: flex-start;
  gap: .6rem;
  padding: 6px 12px;
  border: 1px solid var(--divider);
  border-radius: 10px;
  margin-right: 6px;
  margin-bottom: 6px;
}

.descButton {
  margin: 0.1ssrem auto;
}