.container {
    max-width: 75vw;
    margin: auto;
}

.header {
    margin-top: 4.4rem;
    text-align: center;
    font-weight: 900;
    font-size: 1.02rem;
}

.title {
    font-weight: 700;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;
}

.subtitle {
    font-weight: 600;
    font-size: 0.9rem;
    padding-bottom: 0.4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    margin: 0;
}

.flex {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
}
.inner {
    padding-top: 1rem;
}

.expInnerHeader, .eduInnerHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin-bottom: 0.2rem;
}